# Dependencies
node_modules/
package-lock.json

# Build outputs
dist/
dist-installer/

# Temporary and local storage
temp_storage/
test_user_data/
.data/
__pycache__/
*.pyc
*.log
*.sqlite
*.db
*.tmp

# System files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
